    body {
        background-color: #363946;
        font-family: sans-serif;
        color: white;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 40px;
    }

    .logo {
        color: white;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
    }

    .navigation-bar {
        display: flex;
        list-style-type: none;
        padding: 4px;
        background-color: #111116;
        border-radius: 30px;
        align-items: center;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3)
    }

    .navigation-bar li a {
        display: block;
        color: #b3b3b3;
        padding: 10px 20px;
        border-radius: 26px;
        text-decoration: none;
        font-weight: 500;

        transition: background-color 0.2s ease, color 0.2s ease;
    }

    .navigation-bar li a:hover {
        color: white;
        background-color: rgba(111, 33, 236, 0.2);
    }

    .selected {
        color: white !important;
        background-color: rgb(111, 33, 236);
    }


    main {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .introduction {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-top: 100px;
        background-color: #1e2029;
        color: white;
        width: 90%;
        min-height: 400px;
        padding: 40px;

        border-style: solid;
        border-radius: 20px;
        border-color: #1e2029;

        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

    }

    .dashboard-section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

    }

    .dashboard-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-top: 100px;
        background-color: #1e2029;
        color: white;
        width: 70%;
        min-height: 400px;
        padding: 40px;

        border-style: solid;
        border-radius: 20px;
        border-color: #1e2029;

        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

    }


    table {
        border-spacing: 5px;
    }

    tr:nth-child(2) {
        background-color: rgb(111 33 236 / 50%);
    }

    tr:nth-child(3) {
        background-color: rgb(111 33 236 / 50%);
    }

    tr:nth-child(4) {
        background-color: rgb(111 33 236 / 50%);
    }

    tr:nth-child(8) {
        background-color: rgb(111 33 236 / 50%);
    }

    tr:nth-child(9) {
        background-color: rgb(111 33 236 / 50%);
    }

    tr:nth-child(10) {
        background-color: rgb(111 33 236 / 50%);
    }

    th,
    td {
        padding-top: 5px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 40px;
    }

    .progress-container {
        width: 45px;
        height: 400px;
        background-color: #111116;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        margin-left: 20px;
    }

    .progress-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50%;
        background-color: rgb(111 33 236);
        position: absolute;
        bottom: 0;
        transition: height 0.3s ease;

        font-size: 12px;
        font-weight: bold;
        /* writing-mode: vertical-rl; */
        text-transform: uppercase;
        letter-spacing: 1px;
    }